
<div class="main-container">
    <h1>Add Users</h1>
    <form (ngSubmit)="addUser()" class="form">
        <p>
            <label for="userName">Name:</label>
            <input type="text" id="userName" [(ngModel)]="userName" name="userName" required/>
        </p>
       <p>
            <label for="age">Age:</label>
            <input type="text" id="age" [(ngModel)]="age" name="age" required/>
       </p>
       <p>
        <label for="occupation">Occupation:</label>
        <input type="text" id="occupation" [(ngModel)]="occupation" name="occupation" required/>
       </p>
        <button type="submit">Add user</button>
        <a routerLink="/displayuser" routerLinkActive="active" ariaCurrentWhenActive="page"><button>Display User</button></a>
        <a routerLink="/deleteuser" routerLinkActive="active" ariaCurrentWhenActive="page"><button>Delete User</button></a> 
    </form>
</div>

